.img-overlay {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    /* color: rgb(224, 211, 211); */
    color: black;
    /* background-color: black; */
    font-size: 1.5rem;
    padding: 16px 32px;
    font-weight: bold;
}

.cardLayout {
    position: relative;
}

.cardLayout:hover .img-overlay {
    opacity: 0.3;
}

.cardLayout:hover .middle {
    opacity: 1;
}

@media only screen and (min-device-width: 350px) and (max-device-width: 820px) {
    .centerResponsive {
        text-align: center;
    }
}