@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
.submitbtn {
    background-color: rgb(32, 32, 84) !important;
    color: white;
}

.titlestyle {
    font-weight: bold !important;
}

.form-control {
    background-color: rgba(243, 243, 243, 0.918) !important;
    font-weight: bold !important;
}

.label {
    font-weight: bold !important;
}

table,
td {
    border: 3px solid rgba(230, 225, 225, 0.918);
    font-weight: bold;
}

.headerlayout {
    background-color: rgba(230, 225, 225, 0.918);
}

td {
    padding: 3%;
    width: 50%;
}

th {
    padding: 3%;
}

.fontbold {
    font-weight: bold;
}

.totalamount {
    color: rgba(180, 175, 175, 0.918);
}

.sweet-alert-button {
    background-color: rgb(32, 32, 84);
    color: white;
    /* display: block !important; */
    padding: 10px;
    width: 180px;
    margin: 1rem;
    font-size: 1rem;
    font-weight: bold;
    /* margin: 2%; */
    /* width: 450px; */
    border-radius: 10px;
}

.smalltext {
    font-size: 0.7rem;
    display: inline-block;
}

.hoverable>.infohover {
    display: none;
}

.hoverable:hover>.infohover {
    display: inline;
    position: absolute;
    background-color: white;
    left: 0.5rem;
    color: #888;
    border-radius: 5px;
    margin: 20px auto 20px auto;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.25);
    padding: 10px
}

.hoverable {
    display: inline-block;
}


/* startup/1 page teams section */

.marginclass {
    margin-top: 6rem;
}


/* startup3 */

.linkstyle {
    color: white !important;
    cursor: pointer;
}